name = "GaussianMarkovRandomFields"
uuid = "d5f06795-35bb-4323-9f0b-405ef76cfc5b"
version = "0.9.0"
authors = ["Tim Weiland <hello@timwei.land> and contributors"]

[deps]
AMD = "14f7f29c-3bd6-536c-9a0b-7339e30b5a3e"
ChainRulesCore = "d360d2e6-b24c-11e9-a2a3-2a2ae2dbcce4"
DataStructures = "864edb3b-99cc-5e75-8d2d-829cb0a9cfe8"
DifferentiationInterface = "a0c0ee7d-e4b9-4e03-894e-1c5f64a51d63"
Distributions = "31c24e10-a181-5473-b8eb-7969acd0382f"
Ferrite = "c061ca5d-56c9-439f-9c0e-210fe06d3992"
FerriteGmsh = "4f95f4f8-b27c-4ae5-9a39-ea55e634e36b"
GeoInterface = "cf35fbd7-0cd7-5166-be24-54bfbe79505f"
GeometryBasics = "5c1252a2-5f33-56bf-86c9-59e7332b4326"
Gmsh = "705231aa-382f-11e9-3f0c-b7cb4346fdeb"
Graphs = "86223c79-3864-5bf0-83f7-82e725a168b6"
LibGEOS = "a90b1aa1-3769-5649-ba7e-abc5a9d163eb"
LinearAlgebra = "37e2e46d-f89d-539d-b4ee-838fcccc9c8e"
LinearMaps = "7a12625a-238d-50fd-b39a-03d52299707e"
LinearSolve = "7ed4a6bd-45f5-4d41-b270-4a48e9bafcae"
NearestNeighbors = "b8a86587-4115-5ab1-83bc-aa920d37bbce"
Random = "9a3f8284-a2c9-5f02-9a11-845980a1fd5c"
SelectedInversion = "043bf095-3f01-458a-9f1c-8cf4448fe908"
SparseArrays = "2f01184e-e22b-5df5-ae63-d93ebab69eaf"
SpecialFunctions = "276daf66-3868-5448-9aa4-cd146d93841b"
StatsFuns = "4c63d2b9-4356-54db-8cca-17b64c39e42c"
Tensors = "48a634ad-e948-5137-8d70-aa71f2a747f4"

[weakdeps]
Enzyme = "7da242da-08ed-463a-9acd-ee780be4f1d9"
ForwardDiff = "f6369f11-7733-5829-9624-2563aa707210"
Makie = "ee78f7c6-11fb-53f2-987a-cfe4a2b5a57a"
Pardiso = "46dd5b70-b6fb-5a00-ae2d-e8fea33afaf2"
Shapefile = "8e980c4a-a4fe-5da2-b3a7-4b4b0353a2f4"
SparseConnectivityTracer = "9f842d2f-2579-4b1d-911e-f412cf18a3f5"
SparseDiffTools = "47a9eef4-7e08-11e9-0b38-333d64bd3804"
SparseMatrixColorings = "0a514795-09f3-496d-8182-132a7b665d35"
StatsModels = "3eaba693-59b7-5ba5-a881-562e759f1c8d"
Symbolics = "0c5d862f-8b57-4792-8d23-62f2024744c7"
Zygote = "e88e6eb3-aa80-5325-afca-941959d7151f"

[extensions]
GaussianMarkovRandomFieldsAutoDiff = ["ForwardDiff", "Zygote"]
GaussianMarkovRandomFieldsEnzyme = "Enzyme"
GaussianMarkovRandomFieldsFormula = "StatsModels"
GaussianMarkovRandomFieldsForwardDiff = "ForwardDiff"
GaussianMarkovRandomFieldsMakie = "Makie"
GaussianMarkovRandomFieldsPardiso = "Pardiso"
GaussianMarkovRandomFieldsShapefile = "Shapefile"
GaussianMarkovRandomFieldsSparseADLikelihoods = ["SparseConnectivityTracer", "SparseMatrixColorings"]
GaussianMarkovRandomFieldsSparseJacobian = ["Symbolics", "SparseDiffTools"]

[compat]
AMD = "0.5"
Aqua = "0.8"
ChainRulesCore = "1"
DataStructures = "0.14 - 0.19"
DifferentiationInterface = "0.6, 0.7"
Distributions = "0.25"
Enzyme = "0.13"
Ferrite = "1"
FerriteGmsh = "1.2"
FiniteDiff = "2"
ForwardDiff = "0.10, 1"
GeoInterface = "1.4"
GeometryBasics = "0.4"
Gmsh = "0.3"
Graphs = "1"
LibGEOS = "0.8, 0.9"
LinearAlgebra = "<0.0.1, 1"
LinearMaps = "3.11"
LinearSolve = "2, 3"
Makie = "0.19 - 0.22"
NearestNeighbors = "0.4"
Pardiso = "1"
Random = "<0.0.1, 1"
ReTest = "0.3"
SelectedInversion = "0.1, 0.2"
Shapefile = "0.12, 0.13"
SparseArrays = "<0.0.1, 1"
SparseConnectivityTracer = "1"
SparseDiffTools = "2"
SparseMatrixColorings = "0.4"
SpecialFunctions = "2"
StatsFuns = "1"
StatsModels = "0.7"
Symbolics = "5"
Tensors = "1.16"
Test = "<0.0.1, 1"
Zygote = "0.6, 0.7"
julia = "1.10"

[extras]
Aqua = "4c88cf16-eb10-579e-8560-4a9242c79595"
Distributions = "31c24e10-a181-5473-b8eb-7969acd0382f"
Enzyme = "7da242da-08ed-463a-9acd-ee780be4f1d9"
FiniteDiff = "6a86dc24-6348-571c-b903-95158fe2bd41"
ForwardDiff = "f6369f11-7733-5829-9624-2563aa707210"
LinearAlgebra = "37e2e46d-f89d-539d-b4ee-838fcccc9c8e"
ReTest = "e0db7c4e-2690-44b9-bad6-7687da720f89"
SparseArrays = "2f01184e-e22b-5df5-ae63-d93ebab69eaf"
SparseConnectivityTracer = "9f842d2f-2579-4b1d-911e-f412cf18a3f5"
SparseMatrixColorings = "0a514795-09f3-496d-8182-132a7b665d35"
StatsModels = "3eaba693-59b7-5ba5-a881-562e759f1c8d"
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"
Zygote = "e88e6eb3-aa80-5325-afca-941959d7151f"

[targets]
test = ["Aqua", "Enzyme", "FiniteDiff", "ForwardDiff", "LinearAlgebra", "ReTest", "SparseArrays", "SparseConnectivityTracer", "SparseMatrixColorings", "Test", "Zygote", "StatsModels", "Distributions"]
